<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406849805592-6vdfqs2em2074j0bqvvlbduhf3lf94pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406849805592-6vdfqs2em2074j0bqvvlbduhf3lf94pe</string>
	<key>API_KEY</key>
	<string>AIzaSyD1gTjcb0ROLuDPiwo1XK2vq2DgUmXCqpU</string>
	<key>GCM_SENDER_ID</key>
	<string>406849805592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mddiwa.iOSExamTest</string>
	<key>PROJECT_ID</key>
	<string>iosexamtest</string>
	<key>STORAGE_BUCKET</key>
	<string>iosexamtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406849805592:ios:1ebcce4982934a4ab8d26d</string>
</dict>
</plist>